.hidden{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1.5s;

}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.cards{
    display: flex;
}

.secret:nth-child(2){
    transition-delay: 200ms;
}
.secret:nth-child(3){
    transition-delay: 400ms;
}
.secret:nth-child(4){
    transition-delay: 600ms;
}